<div class="uppercase font-extrabold text-2xl flex items-center justify-center mb-4">
  <h2 class="text-primary">New <span class="text-secondary">Products</span></h2>
</div>
<div class="carousel w-full relative">
  <ng-container *ngFor="let product of products">
    <div class="carousel-item relative flex flex-col w-full sm:w-1/3 items-center mb-16 sm:mb-0">
      <img [src]="product.image" class="sm:w-32 sm:h-32 md:w-48 md:h-48 lg:w-64 lg:h-64 object-cover rounded-2xl" />
      <p class="font-semibold">{{ product.name }}</p>
    </div>
  </ng-container>
  <div class="absolute inset-x-0 bottom-[77%] sm:bottom-auto sm:top-1/2 flex justify-between transform sm:-translate-y-1/2">
    <a (click)="prev()" class="btn btn-circle">&#10094;</a> 
    <a (click)="next()" class="btn btn-circle">&#10095;</a>
  </div>
</div>