<footer class="footer p-10 text-base-content">
  <nav>
    <header class="footer-title">Services</header> 
    <a class="link link-hover">Branding</a> 
    <a class="link link-hover">Design</a> 
    <a class="link link-hover">Marketing</a> 
    <a class="link link-hover">Advertisement</a>
  </nav> 
  <nav>
    <header class="footer-title">Company</header> 
    <a class="link link-hover">About us</a> 
    <a class="link link-hover">Contact</a> 
    <a class="link link-hover">Jobs</a> 
    <a class="link link-hover">Press kit</a>
  </nav> 
  <nav>
    <header class="footer-title">Legal</header> 
    <a class="link link-hover">Terms of use</a> 
    <a class="link link-hover">Privacy policy</a> 
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer> 
<footer class="footer px-10 text-base-content flex flex-col">
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <ul class="list-none flex">
        <li class="p-2 text-2xl"><fa-icon [icon]="faTwitter"></fa-icon></li>
        <li class="p-2 text-2xl"><fa-icon [icon]="faFacebookF"></fa-icon></li>
        <li class="p-2 text-2xl"><fa-icon [icon]="faYoutube"></fa-icon></li>
      </ul>
    </div>
  </nav>
</footer>
<div class="text-center pb-10">
  <p>All rights are reserved</p>
</div>
